rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /candidates/{candidateId} {
      allow read: if true;
      allow create, update, delete: if true;
    }

    match /voters/{voterId} {
      allow read, write: if true;
    }

    match /votes/{voteId} {
      allow create: if true;
      allow read: if false;
    }

    match /settings/system {
      allow read: if true;
      allow create, update, delete: if true;
    }
  }
}
